@import "node_modules/font-awesome/less/font-awesome.less";

body {
  background-image: url('../images/brickwall.png');
}

#scrawl-text {
  width: 76%;
}

#scrawl-submit {
  width: 22%;
}

#scrawlmap {
  border: 2px solid #dddddd;
  border-radius: 2px;
  height: 400px;
}

.close-alert {
  cursor: pointer;
}