%h2
  Scrawley
%p
  Fast, ephemeral, location-based messaging.

%div#scrawlmap

%div.row#insert
  %div.col-md-12.col-md-offset
    %form.form-inline#scrawl-form
      %input#scrawl-text.pull-left.form-control{name: "text", type: "text", placeholder: "scrawl something"}
      %button#scrawl-submit.pull-right.btn.btn-primary{type: "submit"}
        %b.fa.fa-pencil
        Scrawl